/* START OF REGION LODING PAGE  */
.loading {
  background-color: #444;
  z-index: 9999;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #07bafc;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}
/* END OF REGION LODING PAGE  */

/* START OF REGION SECTION NAV */
#nav-bar {
  background-color: var(--primaryTextLight);
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 80px;
  transition: var(--transetionTime) linear;
  z-index: 999;
}

#nav-bar.active {
  width: 330px;
}

#nav-bar ul {
  display: flex;
  padding: 0;
  margin: 0;
  width: 0;
  transition: var(--transetionTime) linear;
}

#nav-bar.active ul {
  width: 100%;
}

#nav-bar ul li {
  transform: rotateY(0deg);
  opacity: 0;
  visibility: hidden;
  transition: var(--transetionTime) linear;
}

#nav-bar.active ul li {
  opacity: 1;
  visibility: visible;
  transform: rotateY(360deg);
}

#nav-bar ul a {
  position: relative;
  color: #303030;
  margin: 0 12px;
}

#nav-btns {
  border: 0 !important;
  position: relative;
}

#des-tool {
  transform: translateX(-50%);
  bottom: -180% !important;
  left: 50%;
  white-space: nowrap;
  background-color: #fff;
  display: none;
}

#des-tool::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 80%;
  transform: translateX(-50%) rotate(180deg);
  border: 12px solid;
  border-color: #fff #0000 #0000 #0000;
}

#nav-bar ul a:hover #des-tool {
  display: block;
}

/* END OF REGION SECTION NAV */

/* START OF REGION SECTION HEADER */
#home .home-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#home .home-info h1 span,
#home .home-info h2 span {
  color: var(--primaryTextLight);
}

#home .home-info p,
#home .home-info h2,
#home .home-info h1 {
  color: var(--secondTextLight);
}

#home .cv-btn a {
  background-color: var(--primaryTextLight);
  color: #303030;
  transition: var(--transetionTime);
}

#home .cv-btn a:hover {
  transform: translateX(1rem);
  background-color: var(--hoveringlight);
}

/* START OF REGION SIDE BAR */
#side-bar {
  top: 20%;
  right: 0;
  z-index: 999;
  white-space: nowrap;
  align-items: start !important;
}

#side-contents {
  display: none;
}

#side-contents h3 {
  color: var(--thirdTextLight);
  border-color: var(--thirdTextLight) !important;
}

#side-bar .side-content {
  background-color: var(--secondTextLight);
}

#side-bar .item-color {
  width: 30px;
  height: 30px;
  background-color: bisque;
}

#side-bar .setting {
  background-color: var(--secondTextLight);
  color: #303030;
  border-radius: 10px 0 0 10px;
  padding: 10px;
  border-right: solid 0.5px #303030;
}
/* END OF REGION SIDE BAR */

/* START OF REGION MOOD SWITCHER */
#home .mode-command {
  background-color: var(--secondTextLight);
  color: #303030;
  top: 30%;
  right: 0;
  padding: 10px;
  border-radius: 10px 0 0 10px;
  border-right: solid 0.5px #303030;
}
/* END OF REGION MOOD SWITCHER */

/* START OF REGION ARROW DOWN */
.go-down {
  color: var(--primaryTextLight);
  bottom: -1.2rem !important;
  left: 50%;
  padding: 1.2rem 0.5rem;
  border: 0.125rem solid var(--secondTextLight);
  transition: var(--transetionTime);
}

.go-down:hover {
  color: var(--hoveringlight);
}

.go-down i {
  animation: bouncingDown 2s infinite;
}

@keyframes bouncingDown {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    opacity: 1;
    transform: translateY(0);
  }

  30%,
  40%,
  60%,
  70% {
    transform: translateY(-1.25rem);
    opacity: 0.3;
  }
}
/* END OF REGION ARROW DOWN */

/* START OF REGION UPARROW */
.go-up {
  color: #d9e4ec;
  padding: 1.5rem 1.6rem;
  bottom: -2.2rem !important;
  right: -1.7rem;
  transition: var(--transetionTime);
  border: 0.125rem solid var(--primaryTextLight);
  display: none;
}

.go-up i {
  animation: bouncingUp 2s infinite;
}

@keyframes bouncingUp {
  30%,
  40%,
  60%,
  70% {
    opacity: 0.3;
    transform: translateY(0);
  }

  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(-1.25rem);
    opacity: 1;
  }
}
/* END OF REGION UPARROW */
/* END OF HEADER */

/* START OF REGION ABOUT */
#about .personal-info-left h5 {
  font-size: 4.5rem;
  position: relative;
  color: var(--primaryTextLight);
  font-family: "Poppins", sans-serif;
}

#about .personal-info-left h5::after {
  content: "....";
  bottom: -2rem;
  position: absolute;
  left: -0.01rem;
  font-family: "Kalam", cursive;
}

#about .card-info {
  background: rgb(0, 11, 48);
  background: linear-gradient(
    30deg,
    rgba(0, 11, 48, 1) 27%,
    rgba(0, 47, 75, 1) 75%
  );
  color: #fff;
  box-shadow: 10px 10px 15px -1px rgba(0, 80, 230, 0.15);
  border: 2px solid #00cbe6ef;
}

#about .card-info P {
  text-wrap: pretty;
}

/* START OF REGION SKILLS PROGRESS  */
.skill {
  width: 160px;
  height: 160px;
}

.outer {
  width: 160px;
  height: 160px;
  padding: 19px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px var(--outerShadowOne);
}

.inner {
  width: 120px;
  height: 120px;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    -4px -4px 10px -1px var(--outerShadowOne),
    -0.5px -0.5px 0px var(--outerShadowOne), 0.5px 0.5px 0px rgba(0, 0, 0, 0.2),
    0px 12px 10px -10px rgba(0, 0, 0, 0.05);
  transition: var(--transetionTime);
}

circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: anim 2s linear forwards;
}

@keyframes anim {
  100% {
    stroke-dashoffset: 120;
  }
}

.stop1,
.stop2 {
  stop-color: var(--primaryTextLight);
  transition: var(--transetionTime);
}
/* END OF REGION SKILLS PROGRESS  */

/* START OF REGION EDUCATION */
.resume-item {
  padding-left: 60px;
}

.resume-item:before {
  content: "";
  position: absolute;
  border-left: 1px solid var(--primaryTextLight);
  inset-block: 0;
  left: 20px;
  transition: var(--transetionTime);
}

.resume-icon {
  background-color: var(--primaryTextLight);
  color: #fff;
  height: 40px;
  line-height: 40px;
  width: 40px;
  transition: var(--transetionTime);
}

.resume-date {
  background-color: var(--resumeBG);
  transition: var(--transetionTime);
}
/* END OF REGION EDUCATION */
/* END OF REGION ABOUT */

/* START OF REGION PORTFOLIO */
#portfolio .portfolio-p {
  text-wrap: balance;
}

.nav-pills {
  background-color: var(--primaryTextLight);
  transition: var(--transetionTime);
}

.nav-pills .nav-link {
  color: #303030 !important;
  background-color: inherit !important;
}

#portfolio .shadow {
  top: 110%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #33333367;
  transition: all 0.8s;
}

#portfolio .img-item img {
  transition: all 0.6s;
}

#portfolio .img-item:hover img {
  transform: scale(1.2, 1.2);
}

#portfolio .img-item:hover .shadow {
  top: 0 !important;
}

#portfolio #close-info {
  top: 1.2rem;
  right: 2rem;
  color: #333;
  background: none;
}

#portfolio .project-info {
  background-color: white;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 99999;
  color: #303030 !important;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 9999;
}
/* END OF REGION PORTFOLIO */

/* START OF REGION CONTACT */
#contact .contact-p {
  text-wrap: balance;
}

#contact .form-title::after {
  content: "....";
  bottom: -2rem;
  position: absolute;
  left: -0.01rem;
  font-family: "Kalam", cursive;
  color: var(--primaryTextLight);
  font-size: 3.5rem;
  transition: var(--transetionTime);
}

.form-btn {
  background-color: var(--primaryTextLight);
  color: #303030 !important;
  transition: var(--transetionTime);
}

.form-btn:hover {
  background-color: var(--hoveringlight);
}

.form-control:focus {
  box-shadow: 0 0 0 0.2rem var(--primaryTextLight) !important;
  border-color: initial !important;
}
/* END OF REGION CONTACT */
