@media (max-width: 576px) {
  .row {
    flex-direction: column-reverse !important;
  }

  .home-info {
    margin-inline: auto !important;
    margin-block: 30px !important ;
  }

  #home .styleBg {
    display: none;
  }

  .home-img {
    width: 60% !important;
    margin: auto !important;
  }

  .home-img .ms-4 {
    margin-left: 0 !important;
  }

  .go-down {
    bottom: -5rem !important;
  }

  /* .go-up {
    left: 88%;
  } */

  .porsonal-info-right {
    margin-top: 2.5rem;
  }

  .main-section-head h2 {
    font-size: 4.5rem;
  }

  .main-section-head h3 {
    font-size: 3rem;
    width: 100%;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .row {
    flex-direction: column-reverse !important;
  }

  .home-info {
    margin-block: 30px !important ;
  }

  #home .styleBg {
    display: none;
  }

  .home-img {
    width: 60% !important;
    margin: auto !important;
  }

  .home-img .ms-4 {
    margin-left: 0 !important;
  }

  .go-down {
    bottom: -5rem !important;
  }

  .porsonal-info-right {
    margin-top: 2.5rem;
  }

  .main-section-head h2 {
    font-size: 5rem;
  }

  .main-section-head h3 {
    font-size: 4.5rem;
    width: 100%;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .row {
    flex-direction: column-reverse !important;
  }

  .home-info {
    margin-block: 30px !important ;
  }

  .home-img {
    width: 60% !important;
    margin: auto !important;
  }

  .home-img .ms-4 {
    margin-left: 0 !important;
  }

  .go-down {
    bottom: -3.5rem !important;
  }

  .porsonal-info-right {
    margin-top: 2.5rem;
  }

  .portfolio-p {
    width: 70% !important;
  }

  .contact-p {
    width: 100% !important;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  .go-down {
    bottom: -5.5rem !important;
  }
}
